<form [formGroup]="form">
<section class="app-form">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input type="text" matInput formControlName="_id" readonly>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" matInput formControlName="name" toUppercase>
    @if(form.hasError('required', 'name')) {
      <mat-error>Name is required</mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Superpower</mat-label>
    <input type="text" matInput formControlName="superpower">
  </mat-form-field>
  <div class="app-form--actions">
    <button mat-button (click)="onSave()" [disabled]="!form.valid || !form.touched || !form.dirty">Save</button>
    <button mat-button (click)="onCancel()">Cancel</button>
  </div>
</section>
</form>