.app-header{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;

    h1{
        padding-inline: 10px;
    }
    button{
        color: #fff;
    }
}