<section class="app-filter">
  <app-filter></app-filter>
</section>
<section class="app-list">
  <mat-list>
    <mat-list-item *ngFor="let hero of heroes$ | async">
      <span class="app-list--content"><strong>Name: </strong> {{ hero.name | capitalletter}} <strong>Superpower:</strong> {{ hero.superpower }}</span>
      <button mat-button (click)="onClickHero(hero)">View Detail</button>
      <button mat-button (click)="onClickDeleteHero(hero)">Delete</button>
      <mat-divider></mat-divider> 
    </mat-list-item>
  </mat-list>
</section>



